@font-face {
  font-family: 'bpicons';
  src:url('../fonts/bpicons/bpicons.eot');
  src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bpicons/bpicons.woff') format('woff'),
    url('../fonts/bpicons/bpicons.ttf') format('truetype'),
    url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
  font-weight: normal;
  font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
  font-family: 'Helvetica', Arial, sans-serif;
  color: #fff;
  background: #cecece;
  overflow-y: scroll;
}

html, body,
.container {
  position: relative;
  width: 100%;
  height: 100%;
}

a {
  color: #ccc;
  text-decoration: none;
}

a:hover, a:focus, a:active,
section:hover, section:focus, section:active {
  color: #7f8c8d;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

h1, h3, h4, p {
  text-align: center !important;
}

h3 {
  font-weight: normal;
}

.splitlayout {
  position: relative;
  overflow-x: hidden;
  min-height: 100%;
  width: 100%;
}

.side {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backgroundface-visibility: hidden;
  overflow-y: scroll;
}

.open-left .side {
  cursor: default;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 499;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.side-left .overlay {
  background: rgba(0,0,0,0.7);
}

.side-left {
  left: 0;
  background: #fff;
  color: #cecece;
  outline: 1px solid #fff; /* avoid gap */
}

.intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 0 1em;
  width: 50%;
  cursor: pointer;
  -webkit-transform: translateY(-20%) translateX(-50%);
  -moz-transform: translateY(-20%) translateX(-50%);
  -o-transform: translateY(-20%) translateX(-50%);
  -ms-transform: translateY(-20%) translateX(-50%);
  transform: translateY(-20%) translateX(-50%);
}

.product-image-wrapper {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: transparent;
}

.product-image-wrapper img {
  max-width: 100%;
/*  border-radiu: 50%;
*/  opacity: 1;
}

.intro-content h1 span {
  display: block;
  white-space: nowrap;
}

.intro-content h1 span:first-child {
  font-weight: 300;
  font-size: 1em;
}

.intro-content h1 span:nth-child(2) {
  position: relative;
  margin-top: 0.5em;
  padding: 0.8em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
}

.intro-content h3 span {
  display: none;
}

.back {
  position: fixed;
  top: 2%;
  right: 5%;
  z-index: 500;
  display: block;
  color: #cecece !important;
  visibility: hidden;
  width: 50px;
  height: 50px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 2px;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  opacity: 0;
  pointer-events: none;
}

.mobile-layout .back { /* fixed positioning will make this not clickable after scrolling on some mobile devices */
  position: absolute;
}

.back-right {
  -webkit-transform: translateX(50%);
  -moz-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  color: #fff;
}

.open-left .back-right {
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
  transition-delay: 0.3s;
  pointer-events: auto;
}

.back:hover {
  color: #7f8c8d !important;
}

/* Pages */
.page {
  position: relative;
  top: 0;
  overflow: auto;
  min-height: 100%;
  width: 75%;
  height: auto;
  font-size: 1.4em;
  -webkit-backface-visibility: hidden;
}

.page-left {
  left: 0;
  outline: 5px solid #cecece; /* avoid rounding gaps */
  background: #cecece;
  color: #fff;
  text-align: right;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.splitlayout.open-left {
  background: #cecece;
}

/* Inner page */
.page-inner {
  padding: 2em;
}

.page-inner section {
  padding-bottom: 1em;
}

.page-inner h2 {
  margin: 0 0 1em 0;
  font-weight: 300;
  font-size: 2.4em;
}

.page-inner p {
  font-weight: 300;
  font-size: 1.2em;
}


/* */

#profileOne, #profileTwo, #profileThree {
  height: 50%;
}

.page-left #profileOne .product-image-wrapper,
.page-left #profileTwo .product-image-wrapper,
.page-left #profileThree .product-image-wrapper {
  margin: 0 auto;
  margin-top: 7.5%;
  width: 30%;
  height: auto;
  text-align: center;
}

.page-left #profileOne .product-image-wrapper img.
.page-left #profileTwo .product-image-wrapper img,
.page-left #profileThree .product-image-wrapper img {
  border-radius: 3px;
  display: block;
}

.page-left #profileOne h3 span,
.page-left #profileTwo h3 span,
.page-left #profileThree h3 span {
  font-size: 0.5em;
  display: block;
  font-weight: normal;
  margin-top: 10px;
}

.page-left section:hover, .page-left section:focus,
.page-left section:active {
  color: #fff !important;
}



/* All transitions */
.side,.page {
  -webkit-transition: -webkit-transform 0.6s;
  -moz-transition: -webkit-transform 0.6s;
  -o-transition: -webkit-transform 0.6s;
  -ms-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}

.overlay {
  -webkit-transition: opacity 0.6s, visibility 0.1s 0.6s;
  -moz-transition: opacity 0.6s, visibility 0.1s 0.6s;
  -o-transition: opacity 0.6s, visibility 0.1s 0.6s;
  -ms-transition: opacity 0.6s, visibility 0.1s 0.6s;
  transition: opacity 0.6s, visibility 0.1s 0.6s;
}

.intro-content {
  -webkit-transition: -webkit-transform 0.6s, top 0.6s;
  -moz-transition: -webkit-transform 0.6s, top 0.6s;
  -o-transition: -webkit-transform 0.6s, top 0.6s;
  -ms-transition: -webkit-transform 0.6s, top 0.6s;
  transition: transform 0.6s, top 0.6s;
}

.intro-content h1,
.back {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}



/* Open and close */

.reset-layout .page,
.splitlayout.open-left .page-right,
.splitlayout.close-left .page-right {
  position: absolute;
  overflow: hidden;
  height: 100%;
}

.splitlayout.open-left .page-left {
  position: relative;
  overflow: auto;
  height: auto;
}

.open-left .side-right .overlay {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.open-left .side-left {
  z-index: 200;
  /**/
  -webkit-transform: translateX(80%);
  -moz-transform: translateX(80%);
  -o-transform: translateX(80%);
  -ms-transform: translateX(80%);
  transform: translateX(80%);
}

.close-left .side-left {
  z-index: 200;
}

.open-left .side-left .intro-content {
  -webkit-transform: translateY(-40%) translateX(-130%) scale(0.6);
  -moz-transform: translateY(-40%) translateX(-130%) scale(0.6);
  -o-transform: translateY(-40%) translateX(-130%) scale(0.6);
  -ms-transform: translateY(-40%) translateX(-130%) scale(0.6);
  transform: translateY(-40%) translateX(-130%) scale(0.6);
}

.open-left .page-left {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

/* Media Queries */
@media screen and (max-width: 83em) {
  .intro-content { font-size: 60%; }
}

@media screen and (max-width: 58em) {
  body { font-size: 90%; }
}

@media screen and (max-width: 49.4375em) {

  .open-left .side-left {
    -webkit-transform: translateX(80%);
    -moz-transform: translateX(80%);
    -o-transform: translateX(80%);
    -ms-transform: translateX(80%);
    transform: translateX(80%);
  }

  .page {
    width: 80%;
  }

  .page-left {
    /*padding-right: 15%;*/
  }

  .intro-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }

  .open-left .side-left .intro-content {
    top: 100%;
    -webkit-transform: translateY(-550px) translateX(-137.5%) scale(0.4);
    -moz-transform: translateY(-550px) translateX(-137.5%) scale(0.4);
    -o-transform: translateY(-550px) translateX(-137.5%) scale(0.4);
    -ms-transform: translateY(-550px) translateX(-137.5%) scale(0.4);
    transform: translateY(-550px) translateX(-137.5%) scale(0.4);
  }

  .open-left .side-left .intro-content #profileOne h1,
  .open-left .side-left .intro-content #profileTwo h1,
  .open-left .side-left .intro-content #profileThree h1 {
    display: none;
  }

  .page-left #profileOne .product-image-wrapper,
  .page-left #profileTwo .product-image-wrapper,
  .page-left #profileThree .product-image-wrapper {
    margin: 0 auto;
    margin-top: 7.5%;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .back-right {
    right: 10%;
    top: 0;
    padding-left: 0;
  }
}

@media screen and (max-width: 42.5em) {
  body { font-size: 80%; }
  .intro-content { font-size: 50%; }
}

@media screen and (max-height: 41.125em) {
  .intro-content {
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
  }
}

@media screen and (max-width: 39.375em) {
  .intro-content .product-image-wrapper {
    -webkit-translateYansform: scale(0.5); transform: scale(0.5);
    -moz-transform: scale(0.5); transform: scale(0.5);
    -o-transform: scale(0.5); transform: scale(0.5);
    -ms-transform: scale(0.5); transform: scale(0.5);
  }
}

@media screen and (max-width: 320px) {
  body { font-size: 70%; }
}