html {
	margin: 0 auto;
	padding: 0 auto;
	font-family: 'Helvetica', sans-serif;
}

#container {
	margin: 0 auto;
}


a {
	text-decoration: none;
}

.slidester {
	position: relative;
	margin-top: 100px;
	height: 490px;
}

.slidester ul {
	list-style-type: none;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 140px;
	overflow: hidden;
	text-align: center;
	pointer-events: none;
}

.no-js .slidester ul {
	position: relative;
	left: auto;
	bottom: auto;
	margin: 0;
	overflow: visible;
}

.slidester ul.currentItem {
	/*padding-left: 0px;*/
	pointer-events: auto;
}

.slidester ul li {
	display: inline-block;
	padding: 20px;
	width: 20%;
	max-width: 300px;
	-webkit-transform: translateX(600%);
	transform: translateX(600%);
	-webkit-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}

.no-js .slidester ul li {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.slidester ul li a,
.slidester ul li img {
	display: block;
	margin: 0 auto;
}

.slidester ul li a {
	outline: none;
	cursor: pointer;
}

.slidester ul li img {
	padding-left: 0px;
	max-width: 100%;
	border: none;
}

.slidester ul li h4 {
	display: inline-block;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-style: italic;
	color: #cecece;
	font-weight: 100;
	font-size: 18px;
	padding: 20px 10px 0;
}

.slidester ul li:hover {
	opacity: 0.7;
}

.slidester nav {
	position: relative;
	top: 450px;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
}

.no-js nav {
	display: none;
}

.slidester nav a {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding: 40px 30px 30px 34px;
	position: relative;
	color: #888;
	outline: none;
	-webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
      -ms-transition: color 0.5s ease-in-out;
        -o-transition: color 0.5s ease-in-out;
          transition: color 0.5s ease-in-out;
}

.slidester nav a:hover, .slidester nav a:focus, .slidester nav a:active,
.slidester nav a.selectedItem {
	color: #282828;
}

/* Move classes and animations */

.slidester ul:first-child li,
.no-js .slidester ul li {
	-webkit-animation: scaleUp 350ms ease-in-out both;
	animation: scaleUp 350ms ease-in-out both;
}

@-webkit-keyframes scaleUp {
	0% { -webkit-transform: translateX(0) scale(0); }
	100% { -webkit-transform: translateX(0) scale(1); }
}

@keyframes scaleUp {
	0% { transform: translateX(0) scale(0); }
	100% { transform: translateX(0) scale(1); }
}

.slidester ul:first-child li:first-child {
	-webkit-animation-delay: 90ms;
	animation-delay: 90ms;
}

.slidester ul:first-child li:nth-child(2) {
	-webkit-animation-delay: 180ms;
	animation-delay: 180ms;
}

.slidester ul:first-child li:nth-child(3) {
	-webkit-animation-delay: 270ms;
	animation-delay: 270ms;
}

.slidester ul:first-child li:nth-child(4) {
	-webkit-animation-delay: 360ms;
	animation-delay: 360ms;
}

/* moveFromRight */

.slidester ul.moveFromRight li {
	-webkit-animation: moveFromRight 350ms ease-in-out both;
	animation: moveFromRight 350ms ease-in-out both;
}

/* moveFromLeft */

.slidester ul.moveFromLeft li {
	-webkit-animation: moveFromLeft 350ms ease-in-out both;
	animation: moveFromLeft 350ms ease-in-out both;
}

/* moveToRight */

.slidester ul.moveToRight li {
	-webkit-animation: moveToRight 350ms ease-in-out both;
	animation: moveToRight 350ms ease-in-out both;
}

/* moveToLeft */

.slidester ul.moveToLeft li {
	-webkit-animation: moveToLeft 350ms ease-in-out both;
	animation: moveToLeft 350ms ease-in-out both;
}

/* Animation Delays */

.slidester ul.moveToLeft li:first-child,
.slidester ul.moveFromRight li:first-child,
.slidester ul.moveToRight li:nth-child(4),
.slidester ul.moveFromLeft li:nth-child(4) {
	-webkit-animation-delay: 0ms;
	animation-delay: 0ms;
}

.slidester ul.moveToLeft li:nth-child(2),
.slidester ul.moveFromRight li:nth-child(2),
.slidester ul.moveToRight li:nth-child(3),
.slidester ul.moveFromLeft li:nth-child(3) {
	-webkit-animation-delay: 90ms;
	animation-delay: 90ms;
}

.slidester ul.moveToLeft li:nth-child(3),
.slidester ul.moveFromRight li:nth-child(3),
.slidester ul.moveToRight li:nth-child(2),
.slidester ul.moveFromLeft li:nth-child(2) {
	-webkit-animation-delay: 180ms;
	animation-delay: 180ms;
}

.slidester ul.moveToLeft li:nth-child(4),
.slidester ul.moveFromRight li:nth-child(4),
.slidester ul.moveToRight li:first-child,
.slidester ul.moveFromLeft li:first-child  {
	-webkit-animation-delay: 270ms;
	animation-delay: 270ms;
}

/* Animations */

@-webkit-keyframes moveFromRight {
	0% { -webkit-transform: translateX(600%); }
	100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveFromLeft {
	0% { -webkit-transform: translateX(-600%); }
	100% { -webkit-transform: translateX(0%); }
}

@-webkit-keyframes moveToRight {
	0% { -webkit-transform: translateX(0%); }
	100% { -webkit-transform: translateX(600%); }
}

@-webkit-keyframes moveToLeft {
	0% { -webkit-transform: translateX(0%); }
	100% { -webkit-transform: translateX(-600%); }
}

@keyframes moveFromRight {
	0% { transform: translateX(600%); }
	100% { transform: translateX(0); }
}

@keyframes moveFromLeft {
	0% { transform: translateX(-600%); }
	100% { transform: translateX(0); }
}

@keyframes moveToRight {
	0% { transform: translateX(0%); }
	100% { transform: translateX(600%); }
}

@keyframes moveToLeft {
	0% { transform: translateX(0%); }
	100% { transform: translateX(-600%); }
}

.slidester {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Media Queries */
@media screen and (max-width: 910px){
	.slidester nav {
		max-width: 90%;
	}
	.slidester nav a {
		font-size: 12px;
		padding: 40px 10px 30px 14px;
	}
}

@media screen and (max-width: 740px){
	.slidester {
		height: 300px;
	}
	.slidester nav {
		top: 220px;
	}
}

@media screen and (max-width: 490px){
	.slidester {
		text-align: center;
		height: auto;
	}

	.slidester ul {
		position: relative;
		display: inline;
		bottom: auto;
		pointer-events: auto;
	}

	.slidester ul li {
		-webkit-animation: none !important;
		animation: none !important;
		-webkit-transform: translateX(0) !important;
		transform: translateX(0) !important;
		padding: 10px 3px;
		min-width: 140px;
	}

	.slidester nav {
		display: none;
	}
}

